parameters:

services:

    twentysteps_wemonit.service:
        class: twentysteps\Bundle\WeMonItBundle\Services\WeMonItService
        arguments: [@logger,@liip_doctrine_cache.ns.control, @twentysteps_wemonit.client, %twentysteps_wemonit.apikey%, %twentysteps_wemonit.timeout%, %twentysteps_wemonit.connect_timeout%, %twentysteps_wemonit.cache_ttl%]

    twentysteps_wemonit.client: 
        class: %guzzle.client.class%
        arguments: [ %twentysteps_wemonit.url% ]
        tags:
            - { name: guzzle.client }